@import "/src/styles/_colors";
@import "/src/styles/_variables";


.signUpButton {
    cursor: pointer;
    background: transparent;
    font-family: inherit;
    font-weight: 400;
    opacity: 0.4;
    transition: $transition-hover;

    &:hover {
        opacity: $button-opacity-hover;
    }
}

.desktop {
    font-size: 14px;
    color: $base-black;
}

.mobile {
    font-size: 16px;
    color: $base-white;
}