
$box-shadow-container: 0 0 20px 0 rgba($base-black, 0.15);
$box-shadow-small-element: 0 0 20px 0 rgba($base-black, 0.05);

$text-shadow-black-hover: 
    0.2px 0.2px 0.5px rgba(0, 0, 0, 0.355),
    -0.2px -0.2px 0.5px rgba(0, 0, 0, 0.355),
    0.2px -0.2px 0.5px rgba(0, 0, 0, 0.355),
    -0.2px 0.2px 0.5px rgba(0, 0, 0, 0.355);

$text-shadow-white-hover: 
    0.2px 0.2px 1px rgba(255, 255, 255),
    -0.2px -0.2px 1px rgba(255, 255, 255),
    0.2px -0.2px 1px rgba(255, 255, 255),
    -0.2px 0.2px 1px rgb(255, 255, 255);

$text-shadow-blue-anim: 
    0.2px 0.2px 1.5px rgba($base-green, 0.8),
    -0.2px -0.2px 1.5px rgba($base-green, 0.8),
    0.2px -0.2px 1.5px rgba($base-green, 0.8),
    -0.2px 0.2px 1.5px rgba($base-green, 0.8);

$button-opacity-hover: 0.8;
$transition-hover: 0.3s ease;