
$box-shadow-container: 1px 2px 5px rgba($base-black, 0.4);
$text-shadow-hover: 
    0.2px 0.2px 0.5px rgba(0, 0, 0, 0.355),
    -0.2px -0.2px 0.5px rgba(0, 0, 0, 0.355),
    0.2px -0.2px 0.5px rgba(0, 0, 0, 0.355),
    -0.2px 0.2px 0.5px rgba(0, 0, 0, 0.355);

$button-opacity-hover: 0.8;
$transition-hover: 0.3s ease;