@import "/src/styles/_colors";
@import "/src/styles/_variables";

.navigation {
    font-weight: 400;
    font-size: 14px;

    .list {
        display: flex;
        column-gap: 49px;
        flex-wrap: wrap;

        .link {
            color: $base-black;
            transition: $transition-hover;

            &:hover {
                text-shadow: $text-shadow-hover;
            }
        }
    }
}

@media (max-width: 1024px) {

    .navigation {

        .list {
            column-gap: 25px;
        }
    }
}

@media (max-width: 767px) {

    .navigation {
        display: none;
    }
}