@import "/src/styles/_colors";
@import "/src/styles/_variables";

.accountControlPanel {
    display: flex;
    gap: 20px;

    .border {
        width: 2px;
        background: $base-green;
        opacity: 0.6;
    }
}

@media (max-width: 767px) {

    .accountControlPanel {
        display: none;
    }
}