@import "/src/styles/_colors";
@import "/src/styles/_variables";

.pageTitle {
    font-family: 'Ferry Black';
}

.sizeHome {
    font-size: 45px;
}

.sizeRest {
    font-size: 30px;
}

@media (max-width: 1024px) {

    .sizeHome,
    .sizeRest {
        font-size: 28px;
    }
}