@import "/src/styles/_colors";
@import "/src/styles/_variables";


.wrapSlider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .slider {
        display: flex;
        border: 2px solid $base-green;
        border-radius: 10px;
        max-width: 1260px;
        width: 95%;

        .sliderHeading {
            width: 11%;
            display: flex;
            flex-direction: column;
            gap: 26px;
            background: $base-green;
            color: $base-white;
            padding: 17px 2%;
            font-size: 20px;
        }

        .sliderBody {
            width: 89%;
            padding: 17px 17px 17px 10px;
        }
    }
}

@media (max-width: 1200px) {

    .wrapSlider {
    
        .slider {
    
            .sliderHeading {
                width: 15%;
                font-size: 18px;
            }
    
            .sliderBody {
                width: 85%;
            }
        }
    }
}

@media (max-width: 767px) {

    .wrapSlider {
    
        .slider {
            width: 90%;
    
            .sliderHeading {
                width: 20%;
            }
    
            .sliderBody {
                width: 80%;
            }
        }
    }
}


@media (max-width: 600px) {

    .wrapSlider {
    
        .slider {
            flex-direction: column;
    
            .sliderHeading {
                width: 100%;
                flex-direction: row;
                gap: 0;
                justify-content: space-between;
                padding: 23px 2%;

                div {
                    width: 33%;
                    text-align: center;
                }
            }
    
            .sliderBody {
                width: 100%;
                padding: 17px 0 26px;
            }
        }
    }
}