@import "/src/styles/_colors";
@import "/src/styles/_variables";

.pageTitle {
    font-family: 'Ferry Black';
}

.sizeDesktopHome {
    font-size: 60px;
}

.sizeDesktopRest {
    font-size: 40px;
}

@media (max-width: 1024px) {

    .sizeDesktopHome,
    .sizeDesktopRest {
        font-size: 28px;
    }
}