@import "/src/styles/_colors";
@import "/src/styles/_variables";

.intro {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    
    .infoBlock {
        display: flex;
        flex-direction: column;
        gap: 36px;
        max-width: 510px;
    }

    .imageContainer {
        max-width: 550px;
    }
}

.summary {
    margin-bottom: 110px;

    .amoundFound {
        font-size: 18px;
        color: $base-gray;
        margin: 17px 0 27px;
    }
}

.publications {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .alternative {
        font-size: 20px;
        font-weight: 700;

        .link {
            font-family: 'Ferry Black';
            color: $base-blue;
            padding-bottom: 2px;
            animation: run 1.25s infinite ease-in-out;
            display: block;
            width: max-content;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid $base-blue;
            }

            @keyframes run {
                0% {
                    text-shadow: none;
                    transform: scale(1);
                }

                50% {
                    text-shadow: $text-shadow-blue-anim;
                    transform: scale(1.01);
                }
                
                100% {
                    text-shadow: none;
                    transform: scale(1);
                }
            }
        }
    }
}

@media (max-width: 767px) {

    .intro {
        flex-direction: column;
        margin-bottom: 60px;

        .imageContainer {
            align-self: center;
        }
    }

    .summary {
        margin-bottom: 57px;
    }
}