@import "/src/styles/_colors";
@import "/src/styles/_variables";

.intro {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    
    .infoBlock {
        display: flex;
        flex-direction: column;
        gap: 36px;
        max-width: 510px;
    }

    .imageContainer {
        max-width: 550px;
    }
}

.summary {

    .amoundFound {
        font-size: 18px;
        color: $base-gray;
        margin: 17px 0 27px;
    }
}

@media (max-width: 767px) {

    .intro {
        flex-direction: column;
        margin-bottom: 60px;

        .infoBlock {
    
        }

        .imageContainer {
            align-self: center;
        }
    }
}